[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
isort = "*"

[packages]
alembic = "*"
dynaconf = {extras = ["yaml"],version = "*"}
mysqlclient = "*"
sqlacodegen = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
